openapi: 3.1.0
info:
  title: Context7 MCP HTTP Wrapper
  description: |
    API pour interagir avec Context7 MCP Server via HTTP.  
    Permet de résoudre les ID de librairies et de récupérer de la documentation à jour.
  version: 1.0.0
servers:
  - url: https://ton-domaine.com  # 🔥 remplace par ton vrai domaine plus tard
paths:
  /resolve-library-id:
    post:
      operationId: resolveLibraryId
      summary: Résoudre un nom de librairie en ID Context7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - libraryName
              properties:
                libraryName:
                  type: string
                  description: Le nom de la librairie (ex: "next", "react", etc.)
      responses:
        '200':
          description: Résultat de la résolution
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Erreur de requête
        '500':
          description: Erreur interne du serveur

  /get-library-docs:
    post:
      operationId: getLibraryDocs
      summary: Récupérer la documentation d'une librairie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context7CompatibleLibraryID
              properties:
                context7CompatibleLibraryID:
                  type: string
                  description: ID de la librairie Context7
                topic:
                  type: string
                  description: Sujet spécifique (ex: "routing", "hooks") (optionnel)
                tokens:
                  type: integer
                  description: Nombre maximum de tokens à retourner (optionnel)
      responses:
        '200':
          description: Documentation récupérée
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Erreur de requête
        '500':
          description: Erreur interne du serveur
